div{
    border: 10px solid;
    width: 560px;
    padding: 10px;
}
table {
    border-collapse: collapse;
    border: 1px solid;
}
table tr:nth-child(even)>td:nth-child(odd) {
    background-color: black;
    width: 70px;
    height: 70px;
}
table tr:nth-child(odd)>td:nth-child(even) {
    background-color: black;
    width: 70px;
    height: 70px;
}

